body > * {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
textarea {
    height: 20vh;
    width: 80vw;
    padding: .7rem .7rem;
}
#btn-translate {
    display: block;
    width: 80vw;
    height: 8vh;

    margin-top: .5rem;
    padding: .3rem .7rem;

    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .12rem;
    background-color: #2C8147;
    color: blanchedalmond;
}
#display-output {
    margin-top: 1rem;
    border: 1px solid black;
    height: 30vh;
    width: 80vw;
    padding: .7rem .7rem;
}